{% extends 'core/base_htmx.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card-body">
            <table class="table table-hover table-mobile mt-4">
                <thead>
                    <tr>
                        <th scope="col">Moeda</th>
                        <th scope="col">Data da Cotação</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    {% for cotacao in cotacoes %}
                    <tr>
                        <td>{{ cotacao.moeda }}</td>
                        <td>{{ cotacao.data_cotacao|date:"d/m/Y" }}</td>
                        <td >
                            {% if cotacao.valor == 0 %}
                                <span class=""><i> Sem valor </i></span>
                            {% else %}
                                {{ cotacao.valor }}
                            {% endif %}
                        </td>
                        <td >
                            {% if cotacao.status == 'Consulta ok' %}
                                <span class="text-success"><i>Consulta ok </i></span>
                            {% else %}
                                <span class="text-danger"><i>Dia não útil </i></span>
                            {% endif %}
                        </td>
                        <td>
                            <a hx-trigger="confirmado"
                            href="#"
                            hx-delete="{% url 'core:delete' cotacao.id %}"
                            hx-target="#container-cotacao-list"
                            hx-swap="innerHTML"
                            _="on click
                            call showDeleteConfirmationWindow(event)
                            if 
                            result.value trigger confirmado">
                            Excluir
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <p>Nenhum registro encontrado!</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="container-fluid">
            <div id="container"></div>
        </div>
    </div>
</div>

<script src="{% static 'dist/js/core.js' %}"></script>
<script>
    var moeda = {{ moeda|safe }};
    var dados  = {{ valores_moeda|safe }};
    var dias_grafico = {{ dias_grafico|safe }};
</script>

<script src="{% static 'dist/js/grafico.js' %}"></script>
{% endblock content %}