{% load static %}
<div class="row">
    <div class="col-lg-6">
        <div class="card-body">
            <table class="table table-hover table-mobile mt-4">
                <thead>
                    <tr>
                        <th scope="col">Moeda</th>
                        <th scope="col">Data inicial</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    {% for cotacao in cotacoes %}
                    <tr>
                        <td>{{ cotacao.moeda }}</td>
                        <td>{{ cotacao.data_inicial }}</td>
                        <td>{{ cotacao.valor }}</td>
                        <td>{{ cotacao.status }}</td>
                        <td>
                            <a hx-trigger="confirmado"
                            href="#"
                            hx-delete="{% url 'core:delete' cotacao.id %}"
                            hx-target="#container-cotacao-list"
                            hx-swap="innerHTML"
                            _="on click
                            call showDeleteConfirmationWindow(event)
                            if 
                            result.value trigger confirmado">
                            Excluir
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <p>Nenhum registro encontrado!</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="container-fluid">
            <div id="container"></div>
        </div>
    </div>
</div>



<script src="{% static 'dist/js/core.js' %}"></script>
<script>
    var moeda = {{ moeda|safe }};
    var dados  = {{ valores_moeda|safe }};
    var dia_inicial = {{ dia_inicial|safe }};
</script>
<script>

    Highcharts.chart('container', {
        
        title: {
            text: 'Histórico de cotações'
        },
        
        subtitle: {
            text: 'Fonte: api.vatcomply.com'
        },
    
        yAxis: {
            title: {
                text: 'Valores'
            }
        },
    
        xAxis: {
            accessibility: {
                rangeDescription: 'Range: 2010 to 2017'
            }
        },
    
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
    
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: dia_inicial
            }
        },
    
        series: [{
            name: moeda.toString(),
            data: dados
           // data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }],
    
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    
    });
</script>